@import "~bootstrap/dist/css/bootstrap.css";
@import "./scss/variables";

.content {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  width: auto;
  margin: 0 auto;
  padding: 0;
}


a {
  text-decoration: none;
  color: $covestro-link-color-default;
  font-weight: $f-w-400;

  &:hover {
    color: $covestro-link-color-hover;
  }
}

body {
  background-color: $base-color;
  margin: 0;
}

button {
  font: inherit;
  border: 1px solid $covestro-green;
  background: $covestro-green;
  color: white;
  padding: 0.6rem 3rem;
  border-radius: 25px;
  cursor: pointer;
  margin: 2px;
}

@media (min-width: 650px) {
  .container {
    margin: 0 25px;

}
}

@media (min-width: 900px) {
  .container {
    margin: 0 25px;
}
}


@media (min-width: 1490px) {
    .container {
      max-width: 1490px;
      margin: 0 auto;
  }
}


@media (min-width: 93.125rem){
  .content {
    margin: 0 auto;
}

}


