// Theme Color
$base-color:#000;
$base-color-light: #1a1a1a;
$covestro-green: #00BB7E;
$covestro-purple: #7D55C7;
$covestro-blue: #009FE4;
$covestro-pink: #E6007E;
$covestro-orange: #FF7F41;
$covestro-link-color-default: #a3a3a3;
$covestro-link-color-hover: #fff;

//font-size
$f-s-h1: 40px;
$f-s-h2: 32px;
$f-s-h3: 28px;
$f-s-h4: 24px;
$f-s-h5: 20px;
$f-s-h6: 16px;
$f-s-p: 16px;

//font-weight
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$f-w-800: 800;
$f-w-900: 900;

//Line-height
$line-height-base: 1.618;
$line-height: 1.5;

//border-radius
$rd-round:5px;
$rd-circle: 50%;


